@font-face
{
    font-family: LXGW;
    src: url("../resources/LXGWWenKai-Regular.ttf") format(ttf);
    font-display: swap;
}
body
{
    font-family: LXGW,"Segoe UI", "Helvetica Neue", Lato, Roboto, "PingFang SC", "STZhongsong", "Lantinghei SC", sans-serif;
}